In [1]:
import pyspark
sc = pyspark.SparkContext('local[*]')

In [2]:
# needed whenever working with spark dataframes
from pyspark.sql import *
!rm -rf metastore_db/
sqlContext = SQLContext(sc)

In [3]:
!wget https://ibm.box.com/shared/static/f1dhhjnzjwxmy2c1ys2whvrgz05d1pui.csv

--2017-10-13 15:32:32--  https://ibm.box.com/shared/static/f1dhhjnzjwxmy2c1ys2whvrgz05d1pui.csv
Resolving ibm.box.com (ibm.box.com)... 107.152.27.197
Connecting to ibm.box.com (ibm.box.com)|107.152.27.197|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://ibm.ent.box.com/shared/static/f1dhhjnzjwxmy2c1ys2whvrgz05d1pui.csv [following]
--2017-10-13 15:32:34--  https://ibm.ent.box.com/shared/static/f1dhhjnzjwxmy2c1ys2whvrgz05d1pui.csv
Resolving ibm.ent.box.com (ibm.ent.box.com)... 107.152.27.211, 107.152.26.211
Connecting to ibm.ent.box.com (ibm.ent.box.com)|107.152.27.211|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://public.boxcloud.com/d/1/cbvvFb9k5E2EyMQ74fQ1OxZJJlZG1J4zqcyOiZDcm5Iwixt0mJmmVjZihBg1aN2JkoGHynK-dQfiUBkn22Gsi8dELzi3fjoSbJut-hYqsMXwC4ZHwJklC5Jlchb6JeYr4gLoWkp3o1FaELNWOQshYUu6cHy9JvdA1n3OurU1J7e3iiFn5-dzZHQXvhDnltulfM5ht7JMHe6sU_yP07Sv-oLN3-S_C3GV4l5YEbsHjcdC_i0yaOASr67gJ2KjsMzGtfVSrImXIjYuvqAW3iCN8TGJf6PbxC4lTfp9O_BErdArTCyy0JLy5Lf7mSuCtRPbL6Y8eWySmOBEgnjCV6-es_7xZuBVNq783UfcEvX8D5_nn0biEe0Jl7XbOtNYlE6ulvnljXn81DIwG8bi_sU_tQtVolHewTYZZI254lts5aEGlbS8SKk6WNOvGbE-G52RPaMqn_hcPLxf61F-CxfGNiQbHIGFdRHVZOwrzUZ0Qw304zlBYtAJLnieKpxaijQovsQ0X3NO8_FTkJn7w60cibrfqsK8TUp8ddgDYms8SX0HeoJSlvFXQZ9QZ4XXJo2INMNgcp-yRbD1Vm3ZAjFXIYpPYhgEYcUAg98KADF9JXpX1WW_sinM0Oxw1NjyQHliIuOPS4Lzup-KdXrY8PENY2W_Qz07iHXGPJSvg_p0nHYb3x1cFr2IVhz24wfC870uYMQUh8iEw5f_WeLExmf_mS727BJn8Zy5feHoG-DJMuSQAiOmeMEF6ja3bwPxyF6zcAcZktj-sd1z_SCpJT5yEpV4Tz7eeouA0ncL_QmXgrzBgy1L276DeSzl8kZ2PSvz-pzK2aYGS4WJlkk1otSdX5OSzbqB8VrGlbR5-n4QF_RLCLii-h1XhHzZoa9wa8pdA_rBf8YTfeeTcIBu4rGSX0GGvbcvqd4YP_26FRDLnp3CtV9mKDfORa6uizzdWA-5pHdHk0b3f-LpFof5MJ3u7195dET9Wjw1bHUsxYY0bB5RYpPCY6qRum8g8Ryzl7w39rT-LF52LqZvbfQ6FdAHFKDnAj_p7qU_Ie_Rh3gLzfZFuL68sr5gXbtqIHsBrNe_NWvpq0tleCFuBs4KKitcYyJ_tnDV8qZ3axxlawId0RLZLcCih-RyEYrq9vm81P2R-GU9Qf-PcyA-DaOCp4ZoraDWRIoWm8SYsA3v8avxa-cVVbcJ_1sVVKPqTVY./download [following]
--2017-10-13 15:32:36--  https://public.boxcloud.com/d/1/cbvvFb9k5E2EyMQ74fQ1OxZJJlZG1J4zqcyOiZDcm5Iwixt0mJmmVjZihBg1aN2JkoGHynK-dQfiUBkn22Gsi8dELzi3fjoSbJut-hYqsMXwC4ZHwJklC5Jlchb6JeYr4gLoWkp3o1FaELNWOQshYUu6cHy9JvdA1n3OurU1J7e3iiFn5-dzZHQXvhDnltulfM5ht7JMHe6sU_yP07Sv-oLN3-S_C3GV4l5YEbsHjcdC_i0yaOASr67gJ2KjsMzGtfVSrImXIjYuvqAW3iCN8TGJf6PbxC4lTfp9O_BErdArTCyy0JLy5Lf7mSuCtRPbL6Y8eWySmOBEgnjCV6-es_7xZuBVNq783UfcEvX8D5_nn0biEe0Jl7XbOtNYlE6ulvnljXn81DIwG8bi_sU_tQtVolHewTYZZI254lts5aEGlbS8SKk6WNOvGbE-G52RPaMqn_hcPLxf61F-CxfGNiQbHIGFdRHVZOwrzUZ0Qw304zlBYtAJLnieKpxaijQovsQ0X3NO8_FTkJn7w60cibrfqsK8TUp8ddgDYms8SX0HeoJSlvFXQZ9QZ4XXJo2INMNgcp-yRbD1Vm3ZAjFXIYpPYhgEYcUAg98KADF9JXpX1WW_sinM0Oxw1NjyQHliIuOPS4Lzup-KdXrY8PENY2W_Qz07iHXGPJSvg_p0nHYb3x1cFr2IVhz24wfC870uYMQUh8iEw5f_WeLExmf_mS727BJn8Zy5feHoG-DJMuSQAiOmeMEF6ja3bwPxyF6zcAcZktj-sd1z_SCpJT5yEpV4Tz7eeouA0ncL_QmXgrzBgy1L276DeSzl8kZ2PSvz-pzK2aYGS4WJlkk1otSdX5OSzbqB8VrGlbR5-n4QF_RLCLii-h1XhHzZoa9wa8pdA_rBf8YTfeeTcIBu4rGSX0GGvbcvqd4YP_26FRDLnp3CtV9mKDfORa6uizzdWA-5pHdHk0b3f-LpFof5MJ3u7195dET9Wjw1bHUsxYY0bB5RYpPCY6qRum8g8Ryzl7w39rT-LF52LqZvbfQ6FdAHFKDnAj_p7qU_Ie_Rh3gLzfZFuL68sr5gXbtqIHsBrNe_NWvpq0tleCFuBs4KKitcYyJ_tnDV8qZ3axxlawId0RLZLcCih-RyEYrq9vm81P2R-GU9Qf-PcyA-DaOCp4ZoraDWRIoWm8SYsA3v8avxa-cVVbcJ_1sVVKPqTVY./download
Resolving public.boxcloud.com (public.boxcloud.com)... 107.152.26.200
Connecting to public.boxcloud.com (public.boxcloud.com)|107.152.26.200|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1697 (1,7K) [text/csv]
Saving to: ‘f1dhhjnzjwxmy2c1ys2whvrgz05d1pui.csv.1’

f1dhhjnzjwxmy2c1ys2 100%[===================>]   1,66K  --.-KB/s    in 0s

2017-10-13 15:32:37 (45,5 MB/s) - ‘f1dhhjnzjwxmy2c1ys2whvrgz05d1pui.csv.1’ saved [1697/1697]

In [34]:
# using inferschema is very handy, but adds a second pass over the data

df = sqlContext.read.format('com.databricks.spark.csv')\
                .option('header', 'true')\
                .option('inferschema', 'true')\
                .option('mode', 'DROPMALFORMED')\
                .load('f1dhhjnzjwxmy2c1ys2whvrgz05d1pui.csv')

In [37]:
df2 = sqlContext.read.format('com.databricks.spark.csv')

In [5]:
df.count()

32

In [38]:
df2

In [35]:
df.columns

['car',
 'mpg',
 'cyl',
 'disp',
 'hp',
 'drat',
 'wt',
 'qsec',
 'vs',
 'am',
 'gear',
 'carb']

In [36]:
df

DataFrame[car: string, mpg: double, cyl: int, disp: double, hp: int, drat: double, wt: double, qsec: double, vs: int, am: int, gear: int, carb: int]

In [18]:
type(df)

pandas.core.frame.DataFrame

In [6]:
df.printSchema()

root
 |-- car: string (nullable = true)
 |-- mpg: double (nullable = true)
 |-- cyl: integer (nullable = true)
 |-- disp: double (nullable = true)
 |-- hp: integer (nullable = true)
 |-- drat: double (nullable = true)
 |-- wt: double (nullable = true)
 |-- qsec: double (nullable = true)
 |-- vs: integer (nullable = true)
 |-- am: integer (nullable = true)
 |-- gear: integer (nullable = true)
 |-- carb: integer (nullable = true)

In [7]:
df.show(5)

+-----------------+----+---+-----+---+----+-----+-----+---+---+----+----+
|              car| mpg|cyl| disp| hp|drat|   wt| qsec| vs| am|gear|carb|
+-----------------+----+---+-----+---+----+-----+-----+---+---+----+----+
|        Mazda RX4|21.0|  6|160.0|110| 3.9| 2.62|16.46|  0|  1|   4|   4|
|    Mazda RX4 Wag|21.0|  6|160.0|110| 3.9|2.875|17.02|  0|  1|   4|   4|
|       Datsun 710|22.8|  4|108.0| 93|3.85| 2.32|18.61|  1|  1|   4|   1|
|   Hornet 4 Drive|21.4|  6|258.0|110|3.08|3.215|19.44|  1|  0|   3|   1|
|Hornet Sportabout|18.7|  8|360.0|175|3.15| 3.44|17.02|  0|  0|   3|   2|
+-----------------+----+---+-----+---+----+-----+-----+---+---+----+----+
only showing top 5 rows

In [8]:
df.select('car', 'mpg').show(5)

+-----------------+----+
|              car| mpg|
+-----------------+----+
|        Mazda RX4|21.0|
|    Mazda RX4 Wag|21.0|
|       Datsun 710|22.8|
|   Hornet 4 Drive|21.4|
|Hornet Sportabout|18.7|
+-----------------+----+
only showing top 5 rows

In [9]:
df.filter(df['mpg'] < 18).show(5)

+-----------+----+---+-----+---+----+----+-----+---+---+----+----+
|        car| mpg|cyl| disp| hp|drat|  wt| qsec| vs| am|gear|carb|
+-----------+----+---+-----+---+----+----+-----+---+---+----+----+
| Duster 360|14.3|  8|360.0|245|3.21|3.57|15.84|  0|  0|   3|   4|
|  Merc 280C|17.8|  6|167.6|123|3.92|3.44| 18.9|  1|  0|   4|   4|
| Merc 450SE|16.4|  8|275.8|180|3.07|4.07| 17.4|  0|  0|   3|   3|
| Merc 450SL|17.3|  8|275.8|180|3.07|3.73| 17.6|  0|  0|   3|   3|
|Merc 450SLC|15.2|  8|275.8|180|3.07|3.78| 18.0|  0|  0|   3|   3|
+-----------+----+---+-----+---+----+----+-----+---+---+----+----+
only showing top 5 rows

In [10]:
# the filter can be just like a SQL where clause
df.filter('mpg < 18').show(5)

+-----------+----+---+-----+---+----+----+-----+---+---+----+----+
|        car| mpg|cyl| disp| hp|drat|  wt| qsec| vs| am|gear|carb|
+-----------+----+---+-----+---+----+----+-----+---+---+----+----+
| Duster 360|14.3|  8|360.0|245|3.21|3.57|15.84|  0|  0|   3|   4|
|  Merc 280C|17.8|  6|167.6|123|3.92|3.44| 18.9|  1|  0|   4|   4|
| Merc 450SE|16.4|  8|275.8|180|3.07|4.07| 17.4|  0|  0|   3|   3|
| Merc 450SL|17.3|  8|275.8|180|3.07|3.73| 17.6|  0|  0|   3|   3|
|Merc 450SLC|15.2|  8|275.8|180|3.07|3.78| 18.0|  0|  0|   3|   3|
+-----------+----+---+-----+---+----+----+-----+---+---+----+----+
only showing top 5 rows

In [11]:
# dataframes are immutable -- withColumn creates a new one
df.withColumn('wtTon', df['wt'] * 0.45).show(6)

+-----------------+----+---+-----+---+----+-----+-----+---+---+----+----+-------+
|              car| mpg|cyl| disp| hp|drat|   wt| qsec| vs| am|gear|carb|  wtTon|
+-----------------+----+---+-----+---+----+-----+-----+---+---+----+----+-------+
|        Mazda RX4|21.0|  6|160.0|110| 3.9| 2.62|16.46|  0|  1|   4|   4|  1.179|
|    Mazda RX4 Wag|21.0|  6|160.0|110| 3.9|2.875|17.02|  0|  1|   4|   4|1.29375|
|       Datsun 710|22.8|  4|108.0| 93|3.85| 2.32|18.61|  1|  1|   4|   1|  1.044|
|   Hornet 4 Drive|21.4|  6|258.0|110|3.08|3.215|19.44|  1|  0|   3|   1|1.44675|
|Hornet Sportabout|18.7|  8|360.0|175|3.15| 3.44|17.02|  0|  0|   3|   2|  1.548|
|          Valiant|18.1|  6|225.0|105|2.76| 3.46|20.22|  1|  0|   3|   1|  1.557|
+-----------------+----+---+-----+---+----+-----+-----+---+---+----+----+-------+
only showing top 6 rows

In [12]:
df.groupby(['cyl'])\
.agg({"wt": "AVG"})\
.show(5)

+---+------------------+
|cyl|           avg(wt)|
+---+------------------+
|  6| 3.117142857142857|
|  4| 2.285727272727273|
|  8|3.9992142857142867|
+---+------------------+

In [13]:
car_counts = df.groupby(['cyl'])\
.agg({"*": "count"})\
.sort("count(1)", ascending=False)\
.show(5)

+---+--------+
|cyl|count(1)|
+---+--------+
|  8|      14|
|  4|      11|
|  6|       7|
+---+--------+

In [62]:
cars

NameError: name 'cars' is not defined

In [14]:
df.createOrReplaceTempView("cars")

# SQL statements can be run by using the sql method
highgearcars = sqlContext.sql("SELECT gear FROM cars WHERE cyl >= 4 AND cyl <= 9")
highgearcars.show(6)

+----+
|gear|
+----+
|   4|
|   4|
|   4|
|   3|
|   3|
|   3|
+----+
only showing top 6 rows

In [29]:
import pandas as pd
lot =  [("john", 23), ("mr. bean", 56), ("bill clinton", 70)]
dfage = pd.DataFrame(lot)

In [30]:
dfage.columns=['Name','Age']

In [42]:
dffilter = dfage[dfage['Age'] < 40]

In [43]:
dffilter

   Name  Age
0  john   23

## Exercise 1:

Step 1: Create a list of tuples ("john", 23), ("mr. bean", 56), ("bill clinton", 70)

Step 2: Convert the list to a data frame with two columns

Step 3: Filter the people with age < 40

Step 4: Get the names ONLY of people smaller than 40

Step 5: Register the dataframe as a SQL table

Step 6: Select the names only of people whose age < 40

Some hints: http://spark.apache.org/docs/latest/sql-programming-guide.html#generic-loadsave-functions

## Exercise 2:

Step 1: Create a list of tuple ("john", "male"), ("hilary", "female")

Step 2: Join with the data from the previos exercise and output all males older than 50

Hints: https://databricks.com/blog/2015/02/17/introducing-dataframes-in-spark-for-large-scale-data-science.html

In [52]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType
structAge = StructType([StructField("Age", IntegerType(), True)])
structName = StructType([StructField("Name", StringType(), True)])

In [59]:
tdata = [("john", 23), ("mr. bean", 56), ("bill clinton", 70)]
tdd = sqlContext.createDataFrame(tdata,schema=['Name','Age'])

In [60]:
tdd

DataFrame[Name: string, Age: bigint]

In [61]:
tdd.filter('Age < 40').show(5)

+----+---+
|Name|Age|
+----+---+
|john| 23|
+----+---+

In [63]:
tdd.createOrReplaceTempView("people")

In [66]:
sqlContext.sql("SELECT Name FROM people WHERE Age < 40").show(5)

+----+
|Name|
+----+
|john|
+----+

In [67]:
tdd.select("Name", "Age").write.save("NamesAndAge.parquet")

In [71]:
td2 = sqlContext.read.load("NamesAndAge.parquet")

In [72]:
td2

DataFrame[Name: string, Age: bigint]

In [92]:
sdata = [('john','male'),('hilary','female'),('bill clinton','male')]
sdd = sqlContext.createDataFrame(sdata,schema=['Name','Sex'])

In [93]:
sdd

DataFrame[Name: string, Sex: string]

In [94]:
sdd.show(5)

+------------+------+
|        Name|   Sex|
+------------+------+
|        john|  male|
|      hilary|female|
|bill clinton|  male|
+------------+------+

In [95]:
sdd.join(tdd, tdd.Name == sdd.Name )

DataFrame[Name: string, Sex: string, Name: string, Age: bigint]

In [96]:
udd = sdd.join(tdd, tdd.Name == sdd.Name,how='outer' ).select(tdd.Name, tdd.Age, sdd.Sex)

In [97]:
udd.show(5)

+------------+----+------+
|        Name| Age|   Sex|
+------------+----+------+
|        null|null|female|
|bill clinton|  70|  male|
|    mr. bean|  56|  null|
|        john|  23|  male|
+------------+----+------+

In [98]:
udd.createOrReplaceTempView("people2")

In [99]:
sqlContext.sql("SELECT Name FROM people2 WHERE Age > 50 and Sex = 'male'").show(5)

+------------+
|        Name|
+------------+
|bill clinton|
+------------+

In [86]:
 sdd.join??