In [1]:
import pyspark
sc = pyspark.SparkContext('local[*]')

# Spark SQLContext

## Documentation: https://spark.apache.org/docs/latest/api/python/pyspark.sql.html

Initilizing SQLContext

In [2]:
!rm -rf metastore_db/
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

## Creating user-defined functions

To use RDD in SQLContext, RDD lines have to be converted into a Row format

In [3]:
import re
from pyspark.sql import Row
# Read from CSV
def load_csv(line):
    return re.split("\"?,\"?", line)
        
def readInt(x):
    try:
        return int(x)
    except:
        return x

def parseElement(e):
    return Row(year=readInt(e[0]),
    month=readInt(e[1]),
    day=readInt(e[2]),
    dep_time=readInt(e[3]),
    dep_delay=readInt(e[4]),
    arr_time=readInt(e[5]),
    arr_delay=readInt(e[6]),
    cancelled=e[7],
    carrier=e[8],
    tailnum=e[9],
    flight=readInt(e[10]),
    origin=e[11],
    dest=e[12],
    air_time=readInt(e[13]),
    distance=readInt(e[14]),
    hour=readInt(e[15]),
    min=readInt(e[16])
    )

In [4]:
!wget https://dsr-data.s3.amazonaws.com/flights/flights14.csv

--2017-10-13 16:47:23--  https://dsr-data.s3.amazonaws.com/flights/flights14.csv
Resolving dsr-data.s3.amazonaws.com (dsr-data.s3.amazonaws.com)... 52.219.73.10
Connecting to dsr-data.s3.amazonaws.com (dsr-data.s3.amazonaws.com)|52.219.73.10|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 16150465 (15M) [text/csv]
Saving to: ‘flights14.csv.2’

flights14.csv.2     100%[===================>]  15,40M  4,94MB/s    in 3,1s

2017-10-13 16:47:27 (4,94 MB/s) - ‘flights14.csv.2’ saved [16150465/16150465]

In [5]:
flights = sc.textFile("flights14.csv").map(load_csv).filter(lambda e: not e[0] == "year").map(parseElement).cache()

Now the schema and the RDD have to be registered with the sqlContext:

In [6]:
flightsDF = sqlContext.createDataFrame(flights)

In [7]:
flightsDF.createOrReplaceTempView("flight")

In [8]:
sqlContext.sql("select * from flight where dest = 'LAX'").take(5)

[Row(air_time=359, arr_delay=13, arr_time=1238, cancelled='0', carrier='AA', day=1, dep_delay=14, dep_time=914, dest='LAX', distance=2475, flight=1, hour=9, min=14, month=1, origin='JFK', tailnum='N338AA', year=2014),
 Row(air_time=363, arr_delay=13, arr_time=1523, cancelled='0', carrier='AA', day=1, dep_delay=-3, dep_time=1157, dest='LAX', distance=2475, flight=3, hour=11, min=57, month=1, origin='JFK', tailnum='N335AA', year=2014),
 Row(air_time=351, arr_delay=9, arr_time=2224, cancelled='0', carrier='AA', day=1, dep_delay=2, dep_time=1902, dest='LAX', distance=2475, flight=21, hour=19, min=2, month=1, origin='JFK', tailnum='N327AA', year=2014),
 Row(air_time=350, arr_delay=1, arr_time=1706, cancelled='0', carrier='AA', day=1, dep_delay=2, dep_time=1347, dest='LAX', distance=2475, flight=117, hour=13, min=47, month=1, origin='JFK', tailnum='N319AA', year=2014),
 Row(air_time=339, arr_delay=0, arr_time=2145, cancelled='0', carrier='AA', day=1, dep_delay=4, dep_time=1824, dest='LAX', distance=2454, flight=119, hour=18, min=24, month=1, origin='EWR', tailnum='N3DEAA', year=2014)]

In [9]:
flightsDF.where("origin = 'JFK' AND dest = 'MIA'").count()

2750

In [10]:
flightsDF.where("origin = 'JFK' AND dest = 'MIA'").limit(2).collect()

[Row(air_time=161, arr_delay=-17, arr_time=1828, cancelled='0', carrier='AA', day=1, dep_delay=-1, dep_time=1509, dest='MIA', distance=1089, flight=145, hour=15, min=9, month=1, origin='JFK', tailnum='N5FJAA', year=2014),
 Row(air_time=166, arr_delay=-8, arr_time=1227, cancelled='0', carrier='AA', day=1, dep_delay=7, dep_time=917, dest='MIA', distance=1089, flight=1085, hour=9, min=17, month=1, origin='JFK', tailnum='N5DWAA', year=2014)]

### Count the flights that departed early and arrived late

In [14]:
flightsDF.where("dep_delay < 0 AND arr_delay > 0").limit(5).collect()

[Row(air_time=363, arr_delay=13, arr_time=1523, cancelled='0', carrier='AA', day=1, dep_delay=-3, dep_time=1157, dest='LAX', distance=2475, flight=3, hour=11, min=57, month=1, origin='JFK', tailnum='N335AA', year=2014),
 Row(air_time=232, arr_delay=1, arr_time=2036, cancelled='0', carrier='AA', day=1, dep_delay=-1, dep_time=1714, dest='AUS', distance=1521, flight=291, hour=17, min=14, month=1, origin='JFK', tailnum='N3DVAA', year=2014),
 Row(air_time=145, arr_delay=15, arr_time=940, cancelled='0', carrier='AA', day=1, dep_delay=-2, dep_time=738, dest='ORD', distance=733, flight=307, hour=7, min=38, month=1, origin='LGA', tailnum='N3GMAA', year=2014),
 Row(air_time=139, arr_delay=1, arr_time=1036, cancelled='0', carrier='AA', day=1, dep_delay=-3, dep_time=847, dest='ORD', distance=733, flight=313, hour=8, min=47, month=1, origin='LGA', tailnum='N553AA', year=2014),
 Row(air_time=145, arr_delay=24, arr_time=1349, cancelled='0', carrier='AA', day=1, dep_delay=-5, dep_time=1140, dest='ORD', distance=733, flight=327, hour=11, min=40, month=1, origin='LGA', tailnum='N570AA', year=2014)]

### Find the flightwith the longest arrival delay

In [23]:
sqlContext.sql("SELECT * from flight where arr_delay = (SELECT  MAX(arr_delay) FROM flight)").collect()

[Row(air_time=200, arr_delay=1494, arr_time=1008, cancelled='0', carrier='AA', day=4, dep_delay=1498, dep_time=727, dest='DFW', distance=1372, flight=1381, hour=7, min=27, month=10, origin='EWR', tailnum='N4WJAA', year=2014)]

### Find the top 10 destinations ordered by the number of flights

In [24]:
sqlContext.sql("SELECT dest, count(*) cnt from flight group by dest order by cnt desc").limit(10).collect()

[Row(dest='LAX', cnt=14434),
 Row(dest='ATL', cnt=12808),
 Row(dest='SFO', cnt=11907),
 Row(dest='MCO', cnt=11709),
 Row(dest='BOS', cnt=11609),
 Row(dest='ORD', cnt=11589),
 Row(dest='MIA', cnt=9928),
 Row(dest='CLT', cnt=9624),
 Row(dest='FLL', cnt=9471),
 Row(dest='DCA', cnt=6748)]

### Find top 10 destinations with the worst avg arrival delay, ignoring flights that arrived early

In [26]:
sqlContext.sql("SELECT dest, avg(arr_delay) avg from flight where arr_delay >= 0 group by dest order by avg desc").limit(10).collect()

[Row(dest='EGE', avg=78.03174603174604),
 Row(dest='AVP', avg=67.0),
 Row(dest='CAK', avg=55.86141304347826),
 Row(dest='TUL', avg=55.122950819672134),
 Row(dest='MSN', avg=53.32692307692308),
 Row(dest='BGR', avg=52.28813559322034),
 Row(dest='OKC', avg=51.3609022556391),
 Row(dest='IAD', avg=51.200559049615656),
 Row(dest='JAC', avg=51.142857142857146),
 Row(dest='TVC', avg=49.64705882352941)]

### Take a sample of 1% of the flights and then calculate the average departure delay for that sample

In [36]:
flightsDF.sample(False, 0.01, None).createOrReplaceTempView("flight_one")

In [37]:
sqlContext.sql("SELECT count(*) from flight").collect()

[Row(count(1)=253316)]

In [38]:
sqlContext.sql("SELECT count(*) from flight_one").collect()

[Row(count(1)=2539)]

In [39]:
sqlContext.sql("SELECT avg(dep_delay) from flight_one").collect()

[Row(avg(dep_delay)=12.461992910594722)]

### For all flights from JFK during June, show the average departure delay for each destination

In [30]:
sqlContext.sql("SELECT dest, avg(dep_delay) avg from flight where month = 6 and origin='JFK' group by dest  order by avg desc").collect()

[Row(dest='MSP', avg=28.69047619047619),
 Row(dest='SMF', avg=22.96551724137931),
 Row(dest='OAK', avg=22.75862068965517),
 Row(dest='DEN', avg=19.083333333333332),
 Row(dest='JAX', avg=18.49425287356322),
 Row(dest='CVG', avg=17.571428571428573),
 Row(dest='SAT', avg=17.17241379310345),
 Row(dest='PSE', avg=17.133333333333333),
 Row(dest='BUR', avg=16.428571428571427),
 Row(dest='SLC', avg=14.965909090909092),
 Row(dest='RSW', avg=14.913793103448276),
 Row(dest='BNA', avg=14.172413793103448),
 Row(dest='ATL', avg=13.491620111731844),
 Row(dest='IAD', avg=13.333333333333334),
 Row(dest='BOS', avg=13.006864988558352),
 Row(dest='BUF', avg=12.900826446280991),
 Row(dest='SAN', avg=12.286713286713287),
 Row(dest='SJC', avg=12.241379310344827),
 Row(dest='ORD', avg=12.136054421768707),
 Row(dest='CLT', avg=12.104803493449781),
 Row(dest='CMH', avg=11.862068965517242),
 Row(dest='SYR', avg=11.656862745098039),
 Row(dest='SEA', avg=11.639024390243902),
 Row(dest='TPA', avg=11.58235294117647),
 Row(dest='BQN', avg=11.266666666666667),
 Row(dest='MSY', avg=10.96629213483146),
 Row(dest='SFO', avg=10.873850197109068),
 Row(dest='ORF', avg=10.678571428571429),
 Row(dest='AUS', avg=10.537931034482758),
 Row(dest='CLE', avg=10.25),
 Row(dest='FLL', avg=10.187290969899665),
 Row(dest='LGB', avg=10.172413793103448),
 Row(dest='PBI', avg=10.10344827586207),
 Row(dest='ROC', avg=10.017699115044248),
 Row(dest='IND', avg=9.925925925925926),
 Row(dest='PHX', avg=9.714285714285714),
 Row(dest='LAS', avg=9.663841807909604),
 Row(dest='DFW', avg=9.101694915254237),
 Row(dest='SJU', avg=8.947368421052632),
 Row(dest='PDX', avg=8.267441860465116),
 Row(dest='MCO', avg=7.70509977827051),
 Row(dest='RDU', avg=7.691489361702128),
 Row(dest='PWM', avg=7.4453125),
 Row(dest='BWI', avg=6.896551724137931),
 Row(dest='LAX', avg=6.699814126394052),
 Row(dest='CHS', avg=6.4),
 Row(dest='ABQ', avg=5.7),
 Row(dest='DCA', avg=5.372781065088757),
 Row(dest='BTV', avg=4.851851851851852),
 Row(dest='SAV', avg=4.267857142857143),
 Row(dest='MIA', avg=4.007490636704119),
 Row(dest='MVY', avg=3.7666666666666666),
 Row(dest='HOU', avg=3.4745762711864407),
 Row(dest='STT', avg=1.1454545454545455),
 Row(dest='ACK', avg=1.0980392156862746),
 Row(dest='HYA', avg=-1.6),
 Row(dest='HNL', avg=-1.7586206896551724),
 Row(dest='PIT', avg=-1.96),
 Row(dest='SRQ', avg=-2.533333333333333),
 Row(dest='DTW', avg=-4.75)]

### For every origin/dest pair, count the number of flights

In [31]:
sqlContext.sql("SELECT dest, origin, count(*) cnt from flight group by dest, origin order by cnt desc").collect()

[Row(dest='LAX', origin='JFK', cnt=10208),
 Row(dest='SFO', origin='JFK', cnt=7368),
 Row(dest='ORD', origin='LGA', cnt=7052),
 Row(dest='ATL', origin='LGA', cnt=6925),
 Row(dest='MIA', origin='LGA', cnt=5084),
 Row(dest='SFO', origin='EWR', cnt=4539),
 Row(dest='MCO', origin='JFK', cnt=4467),
 Row(dest='BOS', origin='EWR', cnt=4268),
 Row(dest='LAX', origin='EWR', cnt=4226),
 Row(dest='ATL', origin='EWR', cnt=4182),
 Row(dest='MCO', origin='EWR', cnt=4164),
 Row(dest='BOS', origin='JFK', cnt=4111),
 Row(dest='SJU', origin='JFK', cnt=4027),
 Row(dest='CLT', origin='EWR', cnt=3921),
 Row(dest='DFW', origin='LGA', cnt=3789),
 Row(dest='DCA', origin='LGA', cnt=3753),
 Row(dest='DTW', origin='LGA', cnt=3663),
 Row(dest='CLT', origin='LGA', cnt=3431),
 Row(dest='LAS', origin='JFK', cnt=3355),
 Row(dest='FLL', origin='LGA', cnt=3304),
 Row(dest='ORD', origin='EWR', cnt=3272),
 Row(dest='FLL', origin='JFK', cnt=3258),
 Row(dest='BOS', origin='LGA', cnt=3230),
 Row(dest='MCO', origin='LGA', cnt=3078),
 Row(dest='IAH', origin='EWR', cnt=3073),
 Row(dest='DEN', origin='LGA', cnt=2939),
 Row(dest='FLL', origin='EWR', cnt=2909),
 Row(dest='MIA', origin='JFK', cnt=2750),
 Row(dest='BNA', origin='LGA', cnt=2600),
 Row(dest='RDU', origin='LGA', cnt=2499),
 Row(dest='IAH', origin='LGA', cnt=2346),
 Row(dest='PBI', origin='LGA', cnt=2307),
 Row(dest='CLT', origin='JFK', cnt=2272),
 Row(dest='DEN', origin='EWR', cnt=2243),
 Row(dest='DFW', origin='EWR', cnt=2224),
 Row(dest='MSP', origin='LGA', cnt=2220),
 Row(dest='BUF', origin='JFK', cnt=2164),
 Row(dest='DTW', origin='EWR', cnt=2149),
 Row(dest='CLE', origin='LGA', cnt=2111),
 Row(dest='MIA', origin='EWR', cnt=2094),
 Row(dest='STL', origin='LGA', cnt=2065),
 Row(dest='TPA', origin='JFK', cnt=2019),
 Row(dest='PHX', origin='EWR', cnt=2002),
 Row(dest='MDW', origin='LGA', cnt=1937),
 Row(dest='PBI', origin='EWR', cnt=1874),
 Row(dest='TPA', origin='LGA', cnt=1852),
 Row(dest='TPA', origin='EWR', cnt=1833),
 Row(dest='CMH', origin='LGA', cnt=1816),
 Row(dest='SEA', origin='JFK', cnt=1815),
 Row(dest='BNA', origin='EWR', cnt=1797),
 Row(dest='PHX', origin='JFK', cnt=1784),
 Row(dest='RDU', origin='JFK', cnt=1770),
 Row(dest='STL', origin='EWR', cnt=1740),
 Row(dest='SLC', origin='JFK', cnt=1706),
 Row(dest='ATL', origin='JFK', cnt=1701),
 Row(dest='DCA', origin='JFK', cnt=1686),
 Row(dest='IAD', origin='JFK', cnt=1604),
 Row(dest='LAS', origin='EWR', cnt=1555),
 Row(dest='MDW', origin='EWR', cnt=1537),
 Row(dest='MSP', origin='EWR', cnt=1485),
 Row(dest='SAN', origin='JFK', cnt=1402),
 Row(dest='AUS', origin='JFK', cnt=1370),
 Row(dest='SEA', origin='EWR', cnt=1364),
 Row(dest='PBI', origin='JFK', cnt=1362),
 Row(dest='DCA', origin='EWR', cnt=1309),
 Row(dest='ORD', origin='JFK', cnt=1265),
 Row(dest='IND', origin='EWR', cnt=1239),
 Row(dest='CVG', origin='EWR', cnt=1187),
 Row(dest='RIC', origin='EWR', cnt=1183),
 Row(dest='MKE', origin='LGA', cnt=1176),
 Row(dest='CLE', origin='EWR', cnt=1171),
 Row(dest='RSW', origin='EWR', cnt=1160),
 Row(dest='RIC', origin='LGA', cnt=1135),
 Row(dest='IAD', origin='LGA', cnt=1091),
 Row(dest='PWM', origin='JFK', cnt=1076),
 Row(dest='ROC', origin='JFK', cnt=1036),
 Row(dest='ORF', origin='LGA', cnt=1014),
 Row(dest='BTV', origin='JFK', cnt=1004),
 Row(dest='JAX', origin='EWR', cnt=998),
 Row(dest='MCI', origin='EWR', cnt=995),
 Row(dest='CHS', origin='EWR', cnt=986),
 Row(dest='MSY', origin='EWR', cnt=982),
 Row(dest='SJU', origin='EWR', cnt=949),
 Row(dest='SYR', origin='JFK', cnt=937),
 Row(dest='MSY', origin='JFK', cnt=908),
 Row(dest='HOU', origin='LGA', cnt=905),
 Row(dest='SAN', origin='EWR', cnt=884),
 Row(dest='GSO', origin='LGA', cnt=868),
 Row(dest='RSW', origin='JFK', cnt=856),
 Row(dest='JAX', origin='JFK', cnt=843),
 Row(dest='HOU', origin='EWR', cnt=784),
 Row(dest='CMH', origin='EWR', cnt=763),
 Row(dest='RDU', origin='EWR', cnt=741),
 Row(dest='MSY', origin='LGA', cnt=738),
 Row(dest='PDX', origin='JFK', cnt=725),
 Row(dest='CAK', origin='LGA', cnt=708),
 Row(dest='PHL', origin='LGA', cnt=702),
 Row(dest='MKE', origin='EWR', cnt=676),
 Row(dest='MEM', origin='EWR', cnt=660),
 Row(dest='SNA', origin='EWR', cnt=657),
 Row(dest='GSO', origin='EWR', cnt=644),
 Row(dest='IAD', origin='EWR', cnt=629),
 Row(dest='CHS', origin='JFK', cnt=587),
 Row(dest='DEN', origin='JFK', cnt=579),
 Row(dest='CMH', origin='JFK', cnt=576),
 Row(dest='CHS', origin='LGA', cnt=574),
 Row(dest='HOU', origin='JFK', cnt=570),
 Row(dest='RSW', origin='LGA', cnt=569),
 Row(dest='AUS', origin='EWR', cnt=568),
 Row(dest='DAY', origin='EWR', cnt=566),
 Row(dest='SAV', origin='EWR', cnt=557),
 Row(dest='OMA', origin='EWR', cnt=544),
 Row(dest='SDF', origin='LGA', cnt=542),
 Row(dest='BQN', origin='JFK', cnt=535),
 Row(dest='SDF', origin='EWR', cnt=529),
 Row(dest='LGB', origin='JFK', cnt=526),
 Row(dest='GSP', origin='EWR', cnt=518),
 Row(dest='SAV', origin='JFK', cnt=514),
 Row(dest='ROC', origin='EWR', cnt=504),
 Row(dest='SRQ', origin='LGA', cnt=496),
 Row(dest='GRR', origin='EWR', cnt=490),
 Row(dest='DAY', origin='LGA', cnt=490),
 Row(dest='DFW', origin='JFK', cnt=474),
 Row(dest='MSP', origin='JFK', cnt=458),
 Row(dest='STT', origin='JFK', cnt=450),
 Row(dest='XNA', origin='LGA', cnt=441),
 Row(dest='PDX', origin='EWR', cnt=418),
 Row(dest='MCI', origin='LGA', cnt=406),
 Row(dest='PWM', origin='EWR', cnt=392),
 Row(dest='PIT', origin='JFK', cnt=384),
 Row(dest='CAE', origin='LGA', cnt=382),
 Row(dest='SRQ', origin='JFK', cnt=370),
 Row(dest='SAV', origin='LGA', cnt=368),
 Row(dest='PIT', origin='EWR', cnt=353),
 Row(dest='BUF', origin='EWR', cnt=334),
 Row(dest='SYR', origin='LGA', cnt=332),
 Row(dest='CHO', origin='LGA', cnt=329),
 Row(dest='MHT', origin='EWR', cnt=324),
 Row(dest='HNL', origin='EWR', cnt=301),
 Row(dest='BTV', origin='EWR', cnt=300),
 Row(dest='PSE', origin='JFK', cnt=289),
 Row(dest='BUR', origin='JFK', cnt=289),
 Row(dest='SLC', origin='EWR', cnt=285),
 Row(dest='BNA', origin='JFK', cnt=284),
 Row(dest='ORF', origin='JFK', cnt=282),
 Row(dest='BWI', origin='JFK', cnt=282),
 Row(dest='CVG', origin='JFK', cnt=282),
 Row(dest='MSN', origin='EWR', cnt=280),
 Row(dest='CLE', origin='JFK', cnt=280),
 Row(dest='IND', origin='JFK', cnt=278),
 Row(dest='ABQ', origin='JFK', cnt=278),
 Row(dest='ACK', origin='JFK', cnt=277),
 Row(dest='BGR', origin='LGA', cnt=274),
 Row(dest='GRR', origin='LGA', cnt=266),
 Row(dest='PIT', origin='LGA', cnt=262),
 Row(dest='HNL', origin='JFK', cnt=260),
 Row(dest='ROC', origin='LGA', cnt=254),
 Row(dest='SJC', origin='JFK', cnt=252),
 Row(dest='BQN', origin='EWR', cnt=251),
 Row(dest='OAK', origin='JFK', cnt=247),
 Row(dest='SMF', origin='JFK', cnt=246),
 Row(dest='SAT', origin='JFK', cnt=242),
 Row(dest='TYS', origin='EWR', cnt=238),
 Row(dest='BTV', origin='LGA', cnt=229),
 Row(dest='ILM', origin='LGA', cnt=223),
 Row(dest='OKC', origin='EWR', cnt=223),
 Row(dest='ORF', origin='EWR', cnt=211),
 Row(dest='BDL', origin='EWR', cnt=210),
 Row(dest='SAT', origin='EWR', cnt=205),
 Row(dest='LIT', origin='LGA', cnt=204),
 Row(dest='TUL', origin='EWR', cnt=201),
 Row(dest='DTW', origin='JFK', cnt=198),
 Row(dest='XNA', origin='EWR', cnt=195),
 Row(dest='MSN', origin='LGA', cnt=188),
 Row(dest='BWI', origin='EWR', cnt=185),
 Row(dest='DSM', origin='EWR', cnt=179),
 Row(dest='STT', origin='EWR', cnt=174),
 Row(dest='ALB', origin='EWR', cnt=169),
 Row(dest='PVD', origin='EWR', cnt=169),
 Row(dest='BUF', origin='LGA', cnt=169),
 Row(dest='TYS', origin='LGA', cnt=167),
 Row(dest='MVY', origin='JFK', cnt=159),
 Row(dest='MHT', origin='LGA', cnt=146),
 Row(dest='AVL', origin='EWR', cnt=145),
 Row(dest='PWM', origin='LGA', cnt=131),
 Row(dest='ROA', origin='LGA', cnt=125),
 Row(dest='BHM', origin='LGA', cnt=124),
 Row(dest='OMA', origin='LGA', cnt=87),
 Row(dest='SYR', origin='EWR', cnt=86),
 Row(dest='EGE', origin='JFK', cnt=85),
 Row(dest='EGE', origin='EWR', cnt=80),
 Row(dest='CVG', origin='LGA', cnt=78),
 Row(dest='HYA', origin='JFK', cnt=75),
 Row(dest='JAX', origin='LGA', cnt=67),
 Row(dest='BZN', origin='EWR', cnt=51),
 Row(dest='IND', origin='LGA', cnt=49),
 Row(dest='TVC', origin='LGA', cnt=36),
 Row(dest='EYW', origin='LGA', cnt=32),
 Row(dest='CAE', origin='EWR', cnt=21),
 Row(dest='TVC', origin='EWR', cnt=20),
 Row(dest='JAC', origin='EWR', cnt=19),
 Row(dest='PSP', origin='JFK', cnt=17),
 Row(dest='BZN', origin='LGA', cnt=15),
 Row(dest='DAL', origin='LGA', cnt=15),
 Row(dest='ANC', origin='EWR', cnt=13),
 Row(dest='HDN', origin='EWR', cnt=13),
 Row(dest='MTJ', origin='EWR', cnt=12),
 Row(dest='MYR', origin='LGA', cnt=11),
 Row(dest='PHL', origin='EWR', cnt=7),
 Row(dest='IAH', origin='JFK', cnt=7),
 Row(dest='SBN', origin='EWR', cnt=6),
 Row(dest='MDT', origin='EWR', cnt=5),
 Row(dest='GSP', origin='LGA', cnt=3),
 Row(dest='MEM', origin='LGA', cnt=3),
 Row(dest='AGS', origin='LGA', cnt=3),
 Row(dest='SBN', origin='LGA', cnt=2),
 Row(dest='AVL', origin='LGA', cnt=2),
 Row(dest='PHL', origin='JFK', cnt=1),
 Row(dest='JAC', origin='JFK', cnt=1),
 Row(dest='AVP', origin='EWR', cnt=1),
 Row(dest='DSM', origin='LGA', cnt=1)]