In [2]:
import pyspark
sc = pyspark.SparkContext('local[*]')

!rm -rf metastore_db/*.lck

from pyspark.sql import SQLContext
sqlc = SQLContext(sc)

### Step 1
- Load the train and test sets
- Check the schema, the variables have their right types?
- If not, how to correctly load the datasets?

In [3]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, FloatType

titanicSchemaTrain = StructType([StructField("PassengerId", IntegerType(), True),
                           StructField("Survived", IntegerType(), True),
                           StructField("Pclass",  IntegerType(), True), 
                           StructField("Name",  StringType(), True), 
                           StructField("Sex",  StringType(), True), 
                           StructField("Age",  FloatType(), True), 
                           StructField("SibSp",  IntegerType(), True), 
                           StructField("Parch",  IntegerType(), True), 
                           StructField("Ticket",  StringType(), True), 
                            StructField("Fare",  FloatType(), True), 
                            StructField("Cabin",  StringType(), True),
                           StructField("Embarked",  StringType(), True)]     
                          )

titanicSchemaTest = StructType([StructField("PassengerId", IntegerType(), True),
                           StructField("Pclass",  IntegerType(), True), 
                           StructField("Name",  StringType(), True), 
                           StructField("Sex",  StringType(), True), 
                           StructField("Age",  FloatType(), True), 
                           StructField("SibSp",  IntegerType(), True), 
                           StructField("Parch",  IntegerType(), True), 
                           StructField("Ticket",  StringType(), True), 
                            StructField("Fare",  FloatType(), True), 
                            StructField("Cabin",  StringType(), True),
                               StructField("Embarked",  StringType(), True)]
                          )
df_train = sqlc.read.load(path="data/train.csv", 
                          format="com.databricks.spark.csv", 
                          schema=titanicSchemaTrain,
                          header=True)

df_test = sqlc.read.load(path="data/test.csv", 
                          format="com.databricks.spark.csv", 
                          schema=titanicSchemaTest, header=True)

### Step 2
- Explore the features of your dataset
- You can use DataFrame's ***describe*** method to get summary statistics
    - hint: ***toPandas*** may be useful to ease the manipulation of small dataframes
- Are there any ***NaN*** values in your dataset?
- If so, define value/values to fill these ***NaN*** values
    - hint: ***na*** property of DataFrames provide several methods of handling NA values

### Step 3
- How to handle categorical features?
    - hint: check the Estimators and Transformers
- Assemble all desired features into a Vector using the VectorAssembler Transformer
- Make sure to end up with a DataFrame with two columns: ***Survived*** and ***vFeatures***

In [4]:
age_mean = df_train.describe().toPandas().set_index("summary").loc['mean','Age']
def remove_useless_features(df):
    return df.drop("Cabin")
df_train = remove_useless_features(df_train)
df_test = remove_useless_features(df_test)
from numpy import NaN
from pyspark.sql.functions import UserDefinedFunction
from pyspark.sql.types import DoubleType
from pyspark.sql.functions import isnull, isnan, when, count, col

def average_missing_features(df):
    df = df.withColumn("age", when(col('age').isNull(), age_mean).otherwise(col('age'))) 
    df = df.withColumn("Embarked", when(col('Embarked').isNull(), 'C').otherwise(col('Embarked'))) 
    df = df.withColumn("Fare", when(col('Fare').isNull(), 0).otherwise(col('Fare'))) 
    
    
    return df


df_train =     average_missing_features(df_train)
df_test  =     average_missing_features(df_test)

In [7]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, FloatType
def convert_age(df):
    df = df.withColumn("age", col("age").cast(FloatType()))
    return df
df_train = convert_age(df_train)
df_test = convert_age(df_test)

In [71]:
df_train

DataFrame[PassengerId: int, Survived: int, Pclass: int, Name: string, Sex: string, age: string, SibSp: int, Parch: int, Ticket: string, Fare: float, Embarked: string]

In [72]:
def retrieve_title(name):
    index_c = name.index(',')
    index_point = name.index('.')
    if index_c >= 0 and index_point > 0:
        title = name[index_c+1:index_point].strip()
        return title
    return 'No'


#udf_retr_title = udf(retrieve_title, StringType())
def extract_title(df):
    df = df.withColumn("Name", udf_retr_title('Name') )     
    return df


#extract_title(df_train)

In [73]:
df_test.describe().toPandas()

,summary,PassengerId,Pclass,Name,Sex,age,SibSp,Parch,Ticket,Fare,Embarked
0,count,418,418,418,418,418,418,418,418,418,418
1,mean,1100.5,2.2655502392344498,None,None,30.154603152261867,0.4473684210526316,0.3923444976076555,223850.98986486485,35.541956141234586,None
2,stddev,120.81045760473994,0.8418375519640503,None,None,12.636665857360075,0.8967595611217135,0.9814288785371694,369523.7764694362,55.86768433838268,None
3,min,892,1,"""Assaf Khalil, Mrs. Mariana (Miriam"""")""""""",female,0.17,0,0,110469,0.0,C
4,max,1309,3,"van Billiard, Master. Walter John",male,9.0,8,9,W.E.P. 5734,512.3292,S

Step 3
How to handle categorical features?
hint: check the Estimators and Transformers
Assemble all desired features into a Vector using the VectorAssembler Transformer
Make sure to end up with a DataFrame with two columns: Survived and vFeatures

In [74]:
from pyspark.ml.feature import StringIndexer
def categorize_df(df):
    indexerS = StringIndexer(inputCol="Sex", outputCol="SexC")
    indexerE = StringIndexer(inputCol="Embarked", outputCol="EmbarkedC")
    
    df = indexerS.fit(df).transform(df)
    df = indexerE.fit(df).transform(df)
    
    df = df.drop("Sex", "Embarked")
    return df

df_train = categorize_df(df_train)
df_test = categorize_df(df_test)

In [75]:
from pyspark.ml.feature import OneHotEncoder
def onehot_df(df):
    oneHotS = OneHotEncoder(inputCol="SexC", outputCol="SexV")
    oneHotE = OneHotEncoder(inputCol="EmbarkedC", outputCol="EmbarkedV")
    
    df = oneHotS.transform(df)
    df = oneHotE.transform(df)
    
    df = df.drop("SexC", "EmbarkedC")
    return df

df_train = onehot_df(df_train)
df_test = onehot_df(df_test)

In [77]:
from pyspark.ml.feature import VectorAssembler

def vectorize(df):

    assembler = VectorAssembler(inputCols = \
                ["Pclass","age", "SibSp", "Parch", "Fare", "SexV", "EmbarkedV"], outputCol = "vFeatures")

    df = assembler.transform(df)
    
    return df

df_train = vectorize(df_train)
df_test = vectorize(df_test)

df_train = df_train['PassengerId','vFeatures','Survived']
df_test = df_test['PassengerId','vFeatures']

In [78]:
df_train.toPandas()

     PassengerId                                          vFeatures  Survived
0              1         [3.0, 22.0, 1.0, 0.0, 7.25, 1.0, 1.0, 0.0]         0
1              2  [1.0, 38.0, 1.0, 0.0, 71.2833023071, 0.0, 0.0,...         1
2              3  (3.0, 26.0, 0.0, 0.0, 7.92500019073, 0.0, 1.0,...         1
3              4  [1.0, 35.0, 1.0, 0.0, 53.0999984741, 0.0, 1.0,...         1
4              5  [3.0, 35.0, 0.0, 0.0, 8.05000019073, 1.0, 1.0,...         0
5              6  (3.0, 29.6991176605, 0.0, 0.0, 8.45829963684, ...         0
6              7  [1.0, 54.0, 0.0, 0.0, 51.8624992371, 1.0, 1.0,...         0
7              8  [3.0, 2.0, 3.0, 1.0, 21.0750007629, 1.0, 1.0, ...         0
8              9  [3.0, 27.0, 0.0, 2.0, 11.1332998276, 0.0, 1.0,...         1
9             10  [2.0, 14.0, 1.0, 0.0, 30.0708007812, 0.0, 0.0,...         1
10            11  [3.0, 4.0, 1.0, 1.0, 16.7000007629, 0.0, 1.0, ...         1
11            12  (1.0, 58.0, 0.0, 0.0, 26.5499992371, 0.0, 1.0,...         1
12            13  [3.0, 20.0, 0.0, 0.0, 8.05000019073, 1.0, 1.0,...         0
13            14  [3.0, 39.0, 1.0, 5.0, 31.2749996185, 1.0, 1.0,...         0
14            15  (3.0, 14.0, 0.0, 0.0, 7.85419988632, 0.0, 1.0,...         0
15            16         (2.0, 55.0, 0.0, 0.0, 16.0, 0.0, 1.0, 0.0)         1
16            17        [3.0, 2.0, 4.0, 1.0, 29.125, 1.0, 0.0, 0.0]         0
17            18  [2.0, 29.6991176605, 0.0, 0.0, 13.0, 1.0, 1.0,...         1
18            19         [3.0, 31.0, 1.0, 0.0, 18.0, 0.0, 1.0, 0.0]         0
19            20  (3.0, 29.6991176605, 0.0, 0.0, 7.22499990463, ...         1
20            21         [2.0, 35.0, 0.0, 0.0, 26.0, 1.0, 1.0, 0.0]         0
21            22         [2.0, 34.0, 0.0, 0.0, 13.0, 1.0, 1.0, 0.0]         1
22            23  (3.0, 15.0, 0.0, 0.0, 8.02919960022, 0.0, 0.0,...         1
23            24         [1.0, 28.0, 0.0, 0.0, 35.5, 1.0, 1.0, 0.0]         1
24            25  [3.0, 8.0, 3.0, 1.0, 21.0750007629, 0.0, 1.0, ...         0
25            26  [3.0, 38.0, 1.0, 5.0, 31.3875007629, 0.0, 1.0,...         1
26            27  [3.0, 29.6991176605, 0.0, 0.0, 7.22499990463, ...         0
27            28        [1.0, 19.0, 3.0, 2.0, 263.0, 1.0, 1.0, 0.0]         0
28            29  (3.0, 29.6991176605, 0.0, 0.0, 7.87919998169, ...         1
29            30  [3.0, 29.6991176605, 0.0, 0.0, 7.89580011368, ...         0
..           ...                                                ...       ...
861          862         [2.0, 21.0, 1.0, 0.0, 11.5, 1.0, 1.0, 0.0]         0
862          863  (1.0, 48.0, 0.0, 0.0, 25.9291992188, 0.0, 1.0,...         1
863          864  [3.0, 29.6991176605, 8.0, 2.0, 69.5500030518, ...         0
864          865         [2.0, 24.0, 0.0, 0.0, 13.0, 1.0, 1.0, 0.0]         0
865          866         (2.0, 42.0, 0.0, 0.0, 13.0, 0.0, 1.0, 0.0)         1
866          867  [2.0, 27.0, 1.0, 0.0, 13.858300209, 0.0, 0.0, ...         1
867          868  [1.0, 31.0, 0.0, 0.0, 50.4958000183, 1.0, 1.0,...         0
868          869  [3.0, 29.6991176605, 0.0, 0.0, 9.5, 1.0, 1.0, ...         0
869          870  [3.0, 4.0, 1.0, 1.0, 11.1332998276, 1.0, 1.0, ...         1
870          871  [3.0, 26.0, 0.0, 0.0, 7.89580011368, 1.0, 1.0,...         0
871          872  [1.0, 47.0, 1.0, 1.0, 52.5541992188, 0.0, 1.0,...         1
872          873          [1.0, 33.0, 0.0, 0.0, 5.0, 1.0, 1.0, 0.0]         0
873          874          [3.0, 47.0, 0.0, 0.0, 9.0, 1.0, 1.0, 0.0]         0
874          875         [2.0, 28.0, 1.0, 0.0, 24.0, 0.0, 0.0, 1.0]         1
875          876  (3.0, 15.0, 0.0, 0.0, 7.22499990463, 0.0, 0.0,...         1
876          877  [3.0, 20.0, 0.0, 0.0, 9.84580039978, 1.0, 1.0,...         0
877          878  [3.0, 19.0, 0.0, 0.0, 7.89580011368, 1.0, 1.0,...         0
878          879  [3.0, 29.6991176605, 0.0, 0.0, 7.89580011368, ...         0
879          880  [1.0, 56.0, 0.0, 1.0, 83.1583023071, 0.0, 0.0,...         1
880          881         [2.0, 25.0, 0.0, 1.0, 26.0, 0.0, 1.0, 0.0]         1
881          882  [3.0, 33.0, 0.0, 0.0, 7.89580011368, 1.0, 1.0,...         0
882          883  (3.0, 22.0, 0.0, 0.0, 10.516699791, 0.0, 1.0, ...         0
883          884         [2.0, 28.0, 0.0, 0.0, 10.5, 1.0, 1.0, 0.0]         0
884          885  [3.0, 25.0, 0.0, 0.0, 7.05000019073, 1.0, 1.0,...         0
885          886       (3.0, 39.0, 0.0, 5.0, 29.125, 0.0, 0.0, 0.0)         0
886          887         [2.0, 27.0, 0.0, 0.0, 13.0, 1.0, 1.0, 0.0]         0
887          888         (1.0, 19.0, 0.0, 0.0, 30.0, 0.0, 1.0, 0.0)         1
888          889  [3.0, 29.6991176605, 1.0, 2.0, 23.4500007629, ...         0
889          890         [1.0, 26.0, 0.0, 0.0, 30.0, 1.0, 0.0, 1.0]         1
890          891         (3.0, 32.0, 0.0, 0.0, 7.75, 1.0, 0.0, 0.0)         0

[891 rows x 3 columns]

In [58]:
df_test.toPandas()

Py4JJavaError: An error occurred while calling o843.collectToPython.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 59.0 failed 1 times, most recent failure: Lost task 0.0 in stage 59.0 (TID 59, localhost, executor driver): org.apache.spark.SparkException: Failed to execute user defined function($anonfun$3: (struct<Pclass_double_VectorAssembler_4ca9b039333100e7d833:double,age_double_VectorAssembler_4ca9b039333100e7d833:double,SibSp_double_VectorAssembler_4ca9b039333100e7d833:double,Parch_double_VectorAssembler_4ca9b039333100e7d833:double,Fare_double_VectorAssembler_4ca9b039333100e7d833:double,SexV:vector,EmbarkedV:vector>) => vector)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIterator.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anonfun$8$$anon$1.hasNext(WholeStageCodegenExec.scala:395)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$2.apply(SparkPlan.scala:234)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$2.apply(SparkPlan.scala:228)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitionsInternal$1$$anonfun$apply$25.apply(RDD.scala:827)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitionsInternal$1$$anonfun$apply$25.apply(RDD.scala:827)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:38)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:323)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:287)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:87)
	at org.apache.spark.scheduler.Task.run(Task.scala:108)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:335)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)
Caused by: org.apache.spark.SparkException: Values to assemble cannot be null.
	at org.apache.spark.ml.feature.VectorAssembler$$anonfun$assemble$1.apply(VectorAssembler.scala:160)
	at org.apache.spark.ml.feature.VectorAssembler$$anonfun$assemble$1.apply(VectorAssembler.scala:143)
	at scala.collection.IndexedSeqOptimized$class.foreach(IndexedSeqOptimized.scala:33)
	at scala.collection.mutable.WrappedArray.foreach(WrappedArray.scala:35)
	at org.apache.spark.ml.feature.VectorAssembler$.assemble(VectorAssembler.scala:143)
	at org.apache.spark.ml.feature.VectorAssembler$$anonfun$3.apply(VectorAssembler.scala:99)
	at org.apache.spark.ml.feature.VectorAssembler$$anonfun$3.apply(VectorAssembler.scala:98)
	... 16 more

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.org$apache$spark$scheduler$DAGScheduler$$failJobAndIndependentStages(DAGScheduler.scala:1499)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1487)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1486)
	at scala.collection.mutable.ResizableArray$class.foreach(ResizableArray.scala:59)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:1486)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:814)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:814)
	at scala.Option.foreach(Option.scala:257)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:814)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:1714)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1669)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1658)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:630)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2022)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2043)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2062)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2087)
	at org.apache.spark.rdd.RDD$$anonfun$collect$1.apply(RDD.scala:936)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:362)
	at org.apache.spark.rdd.RDD.collect(RDD.scala:935)
	at org.apache.spark.sql.execution.SparkPlan.executeCollect(SparkPlan.scala:278)
	at org.apache.spark.sql.Dataset$$anonfun$collectToPython$1.apply$mcI$sp(Dataset.scala:2803)
	at org.apache.spark.sql.Dataset$$anonfun$collectToPython$1.apply(Dataset.scala:2800)
	at org.apache.spark.sql.Dataset$$anonfun$collectToPython$1.apply(Dataset.scala:2800)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:65)
	at org.apache.spark.sql.Dataset.withNewExecutionId(Dataset.scala:2823)
	at org.apache.spark.sql.Dataset.collectToPython(Dataset.scala:2800)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:280)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:214)
	at java.lang.Thread.run(Thread.java:748)
Caused by: org.apache.spark.SparkException: Failed to execute user defined function($anonfun$3: (struct<Pclass_double_VectorAssembler_4ca9b039333100e7d833:double,age_double_VectorAssembler_4ca9b039333100e7d833:double,SibSp_double_VectorAssembler_4ca9b039333100e7d833:double,Parch_double_VectorAssembler_4ca9b039333100e7d833:double,Fare_double_VectorAssembler_4ca9b039333100e7d833:double,SexV:vector,EmbarkedV:vector>) => vector)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIterator.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anonfun$8$$anon$1.hasNext(WholeStageCodegenExec.scala:395)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$2.apply(SparkPlan.scala:234)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$2.apply(SparkPlan.scala:228)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitionsInternal$1$$anonfun$apply$25.apply(RDD.scala:827)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitionsInternal$1$$anonfun$apply$25.apply(RDD.scala:827)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:38)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:323)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:287)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:87)
	at org.apache.spark.scheduler.Task.run(Task.scala:108)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:335)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	... 1 more
Caused by: org.apache.spark.SparkException: Values to assemble cannot be null.
	at org.apache.spark.ml.feature.VectorAssembler$$anonfun$assemble$1.apply(VectorAssembler.scala:160)
	at org.apache.spark.ml.feature.VectorAssembler$$anonfun$assemble$1.apply(VectorAssembler.scala:143)
	at scala.collection.IndexedSeqOptimized$class.foreach(IndexedSeqOptimized.scala:33)
	at scala.collection.mutable.WrappedArray.foreach(WrappedArray.scala:35)
	at org.apache.spark.ml.feature.VectorAssembler$.assemble(VectorAssembler.scala:143)
	at org.apache.spark.ml.feature.VectorAssembler$$anonfun$3.apply(VectorAssembler.scala:99)
	at org.apache.spark.ml.feature.VectorAssembler$$anonfun$3.apply(VectorAssembler.scala:98)
	... 16 more

In [ ]:
from pyspark.ml.feature import StringIndexer, OneHotEncoder
from pyspark.ml.feature import VectorAssembler
from pyspark.mllib.util import MLUtils

### INSERT YOUR CODE HERE

### Step 4
- In Step 5, you will apply a normalization Estimator
- BUT, it does not accept feature vectors of the Sparse type
- So, it is neccessary to apply an User Defined Function to make all features vectors of type VectorUDT
- In this step, you only have to replace ***YOUR DATAFRAME*** and ***NEW DATAFRAME*** with your variables

In [79]:
from pyspark.sql.functions import UserDefinedFunction
from pyspark.ml.linalg import VectorUDT, Vectors

to_vec = UserDefinedFunction(lambda x: Vectors.dense(x.toArray()), VectorUDT())

df_train = df_train.select("PassengerId", "Survived", to_vec("vFeatures").alias("features"))
df_test = df_test.select("PassengerId", to_vec("vFeatures").alias("features"))

### Step 5
- Apply a normalization Estimator of your choice to the ***features*** vector obtained in Step 4

In [80]:
from pyspark.ml.feature import StandardScaler
scaler = StandardScaler(inputCol="features", outputCol="scaledFeatures",
                        withStd=True, withMean=False)

# Compute summary statistics by fitting the StandardScaler
df_train_scalerModel = scaler.fit(df_train)

# Normalize each feature to have unit standard deviation.
df_train = df_train_scalerModel.transform(df_train)

# Compute summary statistics by fitting the StandardScaler
df_test_scalerModel = scaler.fit(df_test)

# Normalize each feature to have unit standard deviation.
df_test = df_test_scalerModel.transform(df_test)

In [82]:
df_train.toPandas()

,PassengerId,Survived,features,scaledFeatures
0,1,0,"[3.0, 22.0, 1.0, 0.0, 7.25, 1.0, 1.0, 0.0]","[3.5882109717, 1.69204539585, 0.906829250318, ..."
1,2,1,"[1.0, 38.0, 1.0, 0.0, 71.2833023071, 0.0, 0.0,...","[1.1960703239, 2.92262386556, 0.906829250318, ..."
2,3,1,"[3.0, 26.0, 0.0, 0.0, 7.92500019073, 0.0, 1.0,...","[3.5882109717, 1.99969001328, 0.0, 0.0, 0.1594..."
3,4,1,"[1.0, 35.0, 1.0, 0.0, 53.0999984741, 0.0, 1.0,...","[1.1960703239, 2.69189040249, 0.906829250318, ..."
4,5,0,"[3.0, 35.0, 0.0, 0.0, 8.05000019073, 1.0, 1.0,...","[3.5882109717, 2.69189040249, 0.0, 0.0, 0.1619..."
5,6,0,"[3.0, 29.6991176605, 0.0, 0.0, 8.45829963684, ...","[3.5882109717, 2.28419342265, 0.0, 0.0, 0.1702..."
6,7,0,"[1.0, 54.0, 0.0, 0.0, 51.8624992371, 1.0, 1.0,...","[1.1960703239, 4.15320233527, 0.0, 0.0, 1.0436..."
7,8,0,"[3.0, 2.0, 3.0, 1.0, 21.0750007629, 1.0, 1.0, ...","[3.5882109717, 0.153822308714, 2.72048775095, ..."
8,9,1,"[3.0, 27.0, 0.0, 2.0, 11.1332998276, 0.0, 1.0,...","[3.5882109717, 2.07660116764, 0.0, 2.481213427..."
9,10,1,"[2.0, 14.0, 1.0, 0.0, 30.0708007812, 0.0, 0.0,...","[2.3921406478, 1.076756161, 0.906829250318, 0...."
10,11,1,"[3.0, 4.0, 1.0, 1.0, 16.7000007629, 0.0, 1.0, ...","[3.5882109717, 0.307644617427, 0.906829250318,..."
11,12,1,"[1.0, 58.0, 0.0, 0.0, 26.5499992371, 0.0, 1.0,...","[1.1960703239, 4.4608469527, 0.0, 0.0, 0.53427..."
12,13,0,"[3.0, 20.0, 0.0, 0.0, 8.05000019073, 1.0, 1.0,...","[3.5882109717, 1.53822308714, 0.0, 0.0, 0.1619..."
13,14,0,"[3.0, 39.0, 1.0, 5.0, 31.2749996185, 1.0, 1.0,...","[3.5882109717, 2.99953501992, 0.906829250318, ..."
14,15,0,"[3.0, 14.0, 0.0, 0.0, 7.85419988632, 0.0, 1.0,...","[3.5882109717, 1.076756161, 0.0, 0.0, 0.158053..."
15,16,1,"[2.0, 55.0, 0.0, 0.0, 16.0, 0.0, 1.0, 0.0]","[2.3921406478, 4.23011348963, 0.0, 0.0, 0.3219..."
16,17,0,"[3.0, 2.0, 4.0, 1.0, 29.125, 1.0, 0.0, 0.0]","[3.5882109717, 0.153822308714, 3.62731700127, ..."
17,18,1,"[2.0, 29.6991176605, 0.0, 0.0, 13.0, 1.0, 1.0,...","[2.3921406478, 2.28419342265, 0.0, 0.0, 0.2616..."
18,19,0,"[3.0, 31.0, 1.0, 0.0, 18.0, 0.0, 1.0, 0.0]","[3.5882109717, 2.38424578506, 0.906829250318, ..."
19,20,1,"[3.0, 29.6991176605, 0.0, 0.0, 7.22499990463, ...","[3.5882109717, 2.28419342265, 0.0, 0.0, 0.1453..."
20,21,0,"[2.0, 35.0, 0.0, 0.0, 26.0, 1.0, 1.0, 0.0]","[2.3921406478, 2.69189040249, 0.0, 0.0, 0.5232..."
21,22,1,"[2.0, 34.0, 0.0, 0.0, 13.0, 1.0, 1.0, 0.0]","[2.3921406478, 2.61497924813, 0.0, 0.0, 0.2616..."
22,23,1,"[3.0, 15.0, 0.0, 0.0, 8.02919960022, 0.0, 0.0,...","[3.5882109717, 1.15366731535, 0.0, 0.0, 0.1615..."
23,24,1,"[1.0, 28.0, 0.0, 0.0, 35.5, 1.0, 1.0, 0.0]","[1.1960703239, 2.15351232199, 0.0, 0.0, 0.7143..."
24,25,0,"[3.0, 8.0, 3.0, 1.0, 21.0750007629, 0.0, 1.0, ...","[3.5882109717, 0.615289234855, 2.72048775095, ..."
25,26,1,"[3.0, 38.0, 1.0, 5.0, 31.3875007629, 0.0, 1.0,...","[3.5882109717, 2.92262386556, 0.906829250318, ..."
26,27,0,"[3.0, 29.6991176605, 0.0, 0.0, 7.22499990463, ...","[3.5882109717, 2.28419342265, 0.0, 0.0, 0.1453..."
27,28,0,"[1.0, 19.0, 3.0, 2.0, 263.0, 1.0, 1.0, 0.0]","[1.1960703239, 1.46131193278, 2.72048775095, 2..."
28,29,1,"[3.0, 29.6991176605, 0.0, 0.0, 7.87919998169, ...","[3.5882109717, 2.28419342265, 0.0, 0.0, 0.1585..."
29,30,0,"[3.0, 29.6991176605, 0.0, 0.0, 7.89580011368, ...","[3.5882109717, 2.28419342265, 0.0, 0.0, 0.1588..."
...,...,...,...,...
861,862,0,"[2.0, 21.0, 1.0, 0.0, 11.5, 1.0, 1.0, 0.0]","[2.3921406478, 1.61513424149, 0.906829250318, ..."
862,863,1,"[1.0, 48.0, 0.0, 0.0, 25.9291992188, 0.0, 1.0,...","[1.1960703239, 3.69173540913, 0.0, 0.0, 0.5217..."
863,864,0,"[3.0, 29.6991176605, 8.0, 2.0, 69.5500030518, ...","[3.5882109717, 2.28419342265, 7.25463400255, 2..."
864,865,0,"[2.0, 24.0, 0.0, 0.0, 13.0, 1.0, 1.0, 0.0]","[2.3921406478, 1.84586770456, 0.0, 0.0, 0.2616..."
865,866,1,"[2.0, 42.0, 0.0, 0.0, 13.0, 0.0, 1.0, 0.0]","[2.3921406478, 3.23026848299, 0.0, 0.0, 0.2616..."
866,867,1,"[2.0, 27.0, 1.0, 0.0, 13.858300209, 0.0, 0.0, ...","[2.3921406478, 2.07660116764, 0.906829250318, ..."
867,868,0,"[1.0, 31.0, 0.0, 0.0, 50.4958000183, 1.0, 1.0,...","[1.1960703239, 2.38424578506, 0.0, 0.0, 1.0161..."
868,869,0,"[3.0, 29.6991176605, 0.0, 0.0, 9.5, 1.0, 1.0, ...","[3.5882109717, 2.28419342265, 0.0, 0.0, 0.1911..."
869,870,1,"[3.0, 4.0, 1.0, 1.0, 11.1332998276, 1.0, 1.0, ...","[3.5882109717, 0.307644617427, 0.906829250318,..."
870,871,0,"[3.0, 26.0, 0.0, 0.0, 7.89580011368, 1.0, 1.0,...","[3.5882109717, 1.99969001328, 0.0, 0.0, 0.1588..."
871,872,1,"[1.0, 47.0, 1.0, 1.0, 52.5541992188, 0.0, 1.0,...","[1.1960703239, 3.61482425477, 0.906829250318, ..."
872,873,0,"[1.0, 33.0, 0.0, 0.0, 5.0, 1.0, 1.0, 0.0]","[1.1960703239, 2.53806809378, 0.0, 0.0, 0.1006..."
873,874,0,"[3.0, 47.0, 0.0, 0.0, 9.0, 1.0, 1.0, 0.0]","[3.5882109717, 3.61482425477, 0.0, 0.0, 0.1811..."
874,875,1,"[2.0, 28.0, 1.0, 0.0, 24.0, 0.0, 0.0, 1.0]","[2.3921406478, 2.15351232199, 0.906829250318, ..."
875,876,1,"[3.0, 15.0, 0.0, 0.0, 7.22499990463, 0.0, 0.0,...","[3.5882109717, 1.15366731535, 0.0, 0.0, 0.1453..."
876,877,0,"[3.0, 20.0, 0.0, 0.0, 9.84580039978, 1.0, 1.0,...","[3.5882109717, 1.53822308714, 0.0, 0.0, 0.1981..."
877,878,0,"[3.0, 19.0, 0.0, 0.0, 7.89580011368, 1.0, 1.0,...","[3.5882109717, 1.46131193278, 0.0, 0.0, 0.1588..."
878,879,0,"[3.0, 29.6991176605, 0.0, 0.0, 7.89580011368, ...","[3.5882109717, 2.28419342265, 0.0, 0.0, 0.1588..."
879,880,1,"[1.0, 56.0, 0.0, 1.0, 83.1583023071, 0.0, 0.0,...","[1.1960703239, 4.30702464398, 0.0, 1.240606713..."
880,881,1,"[2.0, 25.0, 0.0, 1.0, 26.0, 0.0, 1.0, 0.0]","[2.3921406478, 1.92277885892, 0.0, 1.240606713..."
881,882,0,"[3.0, 33.0, 0.0, 0.0, 7.89580011368, 1.0, 1.0,...","[3.5882109717, 2.53806809378, 0.0, 0.0, 0.1588..."
882,883,0,"[3.0, 22.0, 0.0, 0.0, 10.516699791, 0.0, 1.0, ...","[3.5882109717, 1.69204539585, 0.0, 0.0, 0.2116..."
883,884,0,"[2.0, 28.0, 0.0, 0.0, 10.5, 1.0, 1.0, 0.0]","[2.3921406478, 2.15351232199, 0.0, 0.0, 0.2112..."
884,885,0,"[3.0, 25.0, 0.0, 0.0, 7.05000019073, 1.0, 1.0,...","[3.5882109717, 1.92277885892, 0.0, 0.0, 0.1418..."
885,886,0,"[3.0, 39.0, 0.0, 5.0, 29.125, 0.0, 0.0, 0.0]","[3.5882109717, 2.99953501992, 0.0, 6.203033567..."
886,887,0,"[2.0, 27.0, 0.0, 0.0, 13.0, 1.0, 1.0, 0.0]","[2.3921406478, 2.07660116764, 0.0, 0.0, 0.2616..."
887,888,1,"[1.0, 19.0, 0.0, 0.0, 30.0, 0.0, 1.0, 0.0]","[1.1960703239, 1.46131193278, 0.0, 0.0, 0.6037..."
888,889,0,"[3.0, 29.6991176605, 1.0, 2.0, 23.4500007629, ...","[3.5882109717, 2.28419342265, 0.906829250318, ..."
889,890,1,"[1.0, 26.0, 0.0, 0.0, 30.0, 1.0, 0.0, 1.0]","[1.1960703239, 1.99969001328, 0.0, 0.0, 0.6037..."
890,891,0,"[3.0, 32.0, 0.0, 0.0, 7.75, 1.0, 0.0, 0.0]","[3.5882109717, 2.46115693942, 0.0, 0.0, 0.1559..."

### Step 6
- Train a classifier of your choice (for instance, Random Forest) using your dataset of LabeledPoints
- Make predictions for the training data
- Use the Binary Classification Evaluator to evaluate your model on the training data
- How is your model performing? Try to tune its parameters

In [16]:
from pyspark.ml import Pipeline
from pyspark.ml.feature import StandardScaler
from pyspark.ml.feature import StringIndexer, OneHotEncoder
from pyspark.ml.feature import VectorAssembler
from pyspark.mllib.util import MLUtils
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.feature import SQLTransformer

pipeline = Pipeline(stages=[
    StringIndexer(inputCol="Sex", outputCol="SexC"),
    StringIndexer(inputCol="Embarked", outputCol="EmbarkedC"),
    OneHotEncoder(inputCol="SexC", outputCol="SexV"),
    OneHotEncoder(inputCol="EmbarkedC", outputCol="EmbarkedV"),
    VectorAssembler(inputCols = \
                ["Pclass","age", "SibSp", "Parch", "Fare", "SexV", "EmbarkedV"], outputCol = "features"),
    StandardScaler(inputCol="features", outputCol="scaledFeatures",
                        withStd=True, withMean=False)
    SQLTransformer(statement="SELECT PassengerId, Survived, scaledFeatures FROM __THIS__")
])

# Fit the pipeline to training documents.
model = pipeline.fit(df_train)
df_train_2 =  model.transform(df_train)
df_train_3 = df_train_2

In [17]:
df_train_3.show()

+-----------+--------+------+--------------------+------+---------+-----+-----+----------------+-------+--------+----+---------+-------------+-------------+--------------------+--------------------+
|PassengerId|Survived|Pclass|                Name|   Sex|      age|SibSp|Parch|          Ticket|   Fare|Embarked|SexC|EmbarkedC|         SexV|    EmbarkedV|            features|      scaledFeatures|
+-----------+--------+------+--------------------+------+---------+-----+-----+----------------+-------+--------+----+---------+-------------+-------------+--------------------+--------------------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|     22.0|    1|    0|       A/5 21171|   7.25|       S| 0.0|      0.0|(1,[0],[1.0])|(2,[0],[1.0])|[3.0,22.0,1.0,0.0...|[3.58821097170396...|
|          2|       1|     1|Cumings, Mrs. Joh...|female|     38.0|    1|    0|        PC 17599|71.2833|       C| 1.0|      1.0|    (1,[],[])|(2,[1],[1.0])|[1.0,38.0,1.0,0.0...|[1.19607032390132...|
|          3|       1|     3|Heikkinen, Miss. ...|female|     26.0|    0|    0|STON/O2. 3101282|  7.925|       S| 1.0|      0.0|    (1,[],[])|(2,[0],[1.0])|(8,[0,1,4,6],[3.0...|(8,[0,1,4,6],[3.5...|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|     35.0|    1|    0|          113803|   53.1|       S| 1.0|      0.0|    (1,[],[])|(2,[0],[1.0])|[1.0,35.0,1.0,0.0...|[1.19607032390132...|
|          5|       0|     3|Allen, Mr. Willia...|  male|     35.0|    0|    0|          373450|   8.05|       S| 0.0|      0.0|(1,[0],[1.0])|(2,[0],[1.0])|[3.0,35.0,0.0,0.0...|[3.58821097170396...|
|          6|       0|     3|    Moran, Mr. James|  male|29.699118|    0|    0|          330877| 8.4583|       Q| 0.0|      2.0|(1,[0],[1.0])|    (2,[],[])|(8,[0,1,4,5],[3.0...|(8,[0,1,4,5],[3.5...|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|     54.0|    0|    0|           17463|51.8625|       S| 0.0|      0.0|(1,[0],[1.0])|(2,[0],[1.0])|[1.0,54.0,0.0,0.0...|[1.19607032390132...|
|          8|       0|     3|Palsson, Master. ...|  male|      2.0|    3|    1|          349909| 21.075|       S| 0.0|      0.0|(1,[0],[1.0])|(2,[0],[1.0])|[3.0,2.0,3.0,1.0,...|[3.58821097170396...|
|          9|       1|     3|Johnson, Mrs. Osc...|female|     27.0|    0|    2|          347742|11.1333|       S| 1.0|      0.0|    (1,[],[])|(2,[0],[1.0])|[3.0,27.0,0.0,2.0...|[3.58821097170396...|
|         10|       1|     2|Nasser, Mrs. Nich...|female|     14.0|    1|    0|          237736|30.0708|       C| 1.0|      1.0|    (1,[],[])|(2,[1],[1.0])|[2.0,14.0,1.0,0.0...|[2.39214064780264...|
|         11|       1|     3|Sandstrom, Miss. ...|female|      4.0|    1|    1|         PP 9549|   16.7|       S| 1.0|      0.0|    (1,[],[])|(2,[0],[1.0])|[3.0,4.0,1.0,1.0,...|[3.58821097170396...|
|         12|       1|     1|Bonnell, Miss. El...|female|     58.0|    0|    0|          113783|  26.55|       S| 1.0|      0.0|    (1,[],[])|(2,[0],[1.0])|(8,[0,1,4,6],[1.0...|(8,[0,1,4,6],[1.1...|
|         13|       0|     3|Saundercock, Mr. ...|  male|     20.0|    0|    0|       A/5. 2151|   8.05|       S| 0.0|      0.0|(1,[0],[1.0])|(2,[0],[1.0])|[3.0,20.0,0.0,0.0...|[3.58821097170396...|
|         14|       0|     3|Andersson, Mr. An...|  male|     39.0|    1|    5|          347082| 31.275|       S| 0.0|      0.0|(1,[0],[1.0])|(2,[0],[1.0])|[3.0,39.0,1.0,5.0...|[3.58821097170396...|
|         15|       0|     3|Vestrom, Miss. Hu...|female|     14.0|    0|    0|          350406| 7.8542|       S| 1.0|      0.0|    (1,[],[])|(2,[0],[1.0])|(8,[0,1,4,6],[3.0...|(8,[0,1,4,6],[3.5...|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|     55.0|    0|    0|          248706|   16.0|       S| 1.0|      0.0|    (1,[],[])|(2,[0],[1.0])|(8,[0,1,4,6],[2.0...|(8,[0,1,4,6],[2.3...|
|         17|       0|     3|Rice, Master. Eugene|  male|      2.0|    4|    1|          382652| 29.125|       Q| 0.0|      2.0|(1,[0],[1.0])|    (2,[],[])|[3.0,2.0,4.0,1.0,...|[3.58821097170396...|
|         18|       1|     2|Williams, Mr. Cha...|  male|29.699118|    0|    0|          244373|   13.0|       S| 0.0|      0.0|(1,[0],[1.0])|(2,[0],[1.0])|[2.0,29.699117660...|[2.39214064780264...|
|         19|       0|     3|Vander Planke, Mr...|female|     31.0|    1|    0|          345763|   18.0|       S| 1.0|      0.0|    (1,[],[])|(2,[0],[1.0])|[3.0,31.0,1.0,0.0...|[3.58821097170396...|
|         20|       1|     3|Masselmani, Mrs. ...|female|29.699118|    0|    0|            2649|  7.225|       C| 1.0|      1.0|    (1,[],[])|(2,[1],[1.0])|(8,[0,1,4,7],[3.0...|(8,[0,1,4,7],[3.5...|
+-----------+--------+------+--------------------+------+---------+-----+-----+----------------+-------+--------+----+---------+-------------+-------------+--------------------+--------------------+
only showing top 20 rows

In [18]:
df_train_3.select('Survived', 'scaledFeatures').toPandas()

     Survived                                     scaledFeatures
0           0  [3.5882109717, 1.69204539585, 0.906829250318, ...
1           1  [1.1960703239, 2.92262386556, 0.906829250318, ...
2           1  (3.5882109717, 1.99969001328, 0.0, 0.0, 0.1594...
3           1  [1.1960703239, 2.69189040249, 0.906829250318, ...
4           0  [3.5882109717, 2.69189040249, 0.0, 0.0, 0.1619...
5           0  (3.5882109717, 2.28419342265, 0.0, 0.0, 0.1702...
6           0  [1.1960703239, 4.15320233527, 0.0, 0.0, 1.0436...
7           0  [3.5882109717, 0.153822308714, 2.72048775095, ...
8           1  [3.5882109717, 2.07660116764, 0.0, 2.481213427...
9           1  [2.3921406478, 1.076756161, 0.906829250318, 0....
10          1  [3.5882109717, 0.307644617427, 0.906829250318,...
11          1  (1.1960703239, 4.4608469527, 0.0, 0.0, 0.53427...
12          0  [3.5882109717, 1.53822308714, 0.0, 0.0, 0.1619...
13          0  [3.5882109717, 2.99953501992, 0.906829250318, ...
14          0  (3.5882109717, 1.076756161, 0.0, 0.0, 0.158053...
15          1  (2.3921406478, 4.23011348963, 0.0, 0.0, 0.3219...
16          0  [3.5882109717, 0.153822308714, 3.62731700127, ...
17          1  [2.3921406478, 2.28419342265, 0.0, 0.0, 0.2616...
18          0  [3.5882109717, 2.38424578506, 0.906829250318, ...
19          1  (3.5882109717, 2.28419342265, 0.0, 0.0, 0.1453...
20          0  [2.3921406478, 2.69189040249, 0.0, 0.0, 0.5232...
21          1  [2.3921406478, 2.61497924813, 0.0, 0.0, 0.2616...
22          1  (3.5882109717, 1.15366731535, 0.0, 0.0, 0.1615...
23          1  [1.1960703239, 2.15351232199, 0.0, 0.0, 0.7143...
24          0  [3.5882109717, 0.615289234855, 2.72048775095, ...
25          1  [3.5882109717, 2.92262386556, 0.906829250318, ...
26          0  [3.5882109717, 2.28419342265, 0.0, 0.0, 0.1453...
27          0  [1.1960703239, 1.46131193278, 2.72048775095, 2...
28          1  (3.5882109717, 2.28419342265, 0.0, 0.0, 0.1585...
29          0  [3.5882109717, 2.28419342265, 0.0, 0.0, 0.1588...
..        ...                                                ...
861         0  [2.3921406478, 1.61513424149, 0.906829250318, ...
862         1  (1.1960703239, 3.69173540913, 0.0, 0.0, 0.5217...
863         0  [3.5882109717, 2.28419342265, 7.25463400255, 2...
864         0  [2.3921406478, 1.84586770456, 0.0, 0.0, 0.2616...
865         1  (2.3921406478, 3.23026848299, 0.0, 0.0, 0.2616...
866         1  [2.3921406478, 2.07660116764, 0.906829250318, ...
867         0  [1.1960703239, 2.38424578506, 0.0, 0.0, 1.0161...
868         0  [3.5882109717, 2.28419342265, 0.0, 0.0, 0.1911...
869         1  [3.5882109717, 0.307644617427, 0.906829250318,...
870         0  [3.5882109717, 1.99969001328, 0.0, 0.0, 0.1588...
871         1  [1.1960703239, 3.61482425477, 0.906829250318, ...
872         0  [1.1960703239, 2.53806809378, 0.0, 0.0, 0.1006...
873         0  [3.5882109717, 3.61482425477, 0.0, 0.0, 0.1811...
874         1  [2.3921406478, 2.15351232199, 0.906829250318, ...
875         1  (3.5882109717, 1.15366731535, 0.0, 0.0, 0.1453...
876         0  [3.5882109717, 1.53822308714, 0.0, 0.0, 0.1981...
877         0  [3.5882109717, 1.46131193278, 0.0, 0.0, 0.1588...
878         0  [3.5882109717, 2.28419342265, 0.0, 0.0, 0.1588...
879         1  [1.1960703239, 4.30702464398, 0.0, 1.240606713...
880         1  [2.3921406478, 1.92277885892, 0.0, 1.240606713...
881         0  [3.5882109717, 2.53806809378, 0.0, 0.0, 0.1588...
882         0  (3.5882109717, 1.69204539585, 0.0, 0.0, 0.2116...
883         0  [2.3921406478, 2.15351232199, 0.0, 0.0, 0.2112...
884         0  [3.5882109717, 1.92277885892, 0.0, 0.0, 0.1418...
885         0  (3.5882109717, 2.99953501992, 0.0, 6.203033567...
886         0  [2.3921406478, 2.07660116764, 0.0, 0.0, 0.2616...
887         1  (1.1960703239, 1.46131193278, 0.0, 0.0, 0.6037...
888         0  [3.5882109717, 2.28419342265, 0.906829250318, ...
889         1  [1.1960703239, 1.99969001328, 0.0, 0.0, 0.6037...
890         0  (3.5882109717, 2.46115693942, 0.0, 0.0, 0.1559...

[891 rows x 2 columns]

In [ ]:
from pyspark.ml.classification import RandomForestClassifier
from pyspark.ml.classification import RandomForestClassificationModel
from pyspark.ml.evaluation import BinaryClassificationEvaluator

### INSERT YOUR CODE HERE

### Step 7
- Take a look at the test data - use DataFrame's ***createOrReplaceTempView*** method to perform SQL queries over the data
    - hint: check if there are any NULL values in the dataset - if so, handle them
- Apply the transformations to the test data
    - hint: you can use Pipelines to chain several Estimators/Transformers
    - warning: unfortunately, it is not possible to include the UDF from Step 4 in the Pipeline
- Make predictions using the model previously trained and the transformed test data
- Save it as ***submission.csv*** and submit it to Kaggle
- What was your score?

In [ ]:
from pyspark.ml import Pipeline

### INSERT YOUR CODE HERE

In [ ]:
df_predictions = <YOUR PREDICTIONS DATAFRAME>.select("prediction").toPandas().reset_index()
df_predictions['index'] = df_predictions['index'] + 892
df_predictions.columns = ['PassengerId', 'Survived']

df_predictions.to_csv('submission.csv', index=False)

## Result = ???%